In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Inteligencia Artificial para la Ciencia de los Datos

## Máster en Lógica, Computación e Inteligencia Artificial

### Práctica 1 con Scikit Learn

Vamos a hacer un ejercicio básico de clasificación con el conocido *dataset* del Titanic, que contiene datos de los pasajeros del Titanic el día 15 de abril de 1912, día en que naufragó. Los datos están en formato csv en dos archivos: `train.csv` y `test.csv`.

La idea es aprender un modelo (en este caso, un árbol de clasificación), para predecir si el pasajero sobrevive o no al naufragio, en función de algun de las restantes características.

Previamente, descargar los archivos csv que se suministran.

#### Ejercicio 1

Cargar train.csv y test.csv en sendos *DataFrame* de pandas

In [2]:
# === Solución
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

#### Ejercicio 2

Explorar las primeras filas de las tablas, y tratar de entender la información contenida en cada columna. Nótese que test.csv no aparece la información relativa a la supervivencia.

In [3]:
# === Solución
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# ===== Solución:
# hacer
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Los ejercicios que siguen se refieren a los datos de entrenamiento, a menos que se indique explícitamente que se piede algo para los datos de test.

#### Ejercicio 3 

Usando `isnull`, calcular cuantos datos faltan en cada una de las columnas.

In [10]:
### ==== Solución:
train.isnull().sum(axis=0)
# los que dan son los que no se saben
train.info()
#ahora da el contrario a lo calculado
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#### Ejercicio 4

Calcular cuántos supervivientes hay.

In [18]:
### Solución:
# funciones e pandas por ejemplo para ver los supervivientes
train['Survived']
# np.sum(train['Supervived']==1)
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

#### Ejercicio 5

Usar `describe` y deducir de la informacion mostrada el número de supervivientes:

In [19]:
# ===== Solución
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#### Ejercicio 6

Rellenar la edad en todas las filas en las que falta, tanto en train como en test. Para ello, 
colocar (imputar) la mediana de las edades de los datos de entrenamiento que sí la tiene.

In [24]:
# === Solución:
# va a hacer la mediana
Valor_a_imputar=train["Age"].median()

In [27]:
# de esta forma mantengo al coherencia con lso dato squ eis tengo en la tabla done me faltna datos
train["Age"]=train["Age"].fillna(Valor_a_imputar)
# luego la mediana del train lo llevo a los nul del test asi mantengo la mediana del train
test["Age"]=test["Age"].fillna(Valor_a_imputar)

#### Ejercicio 7 

Añadir una columna `'IsFemale'` que valga 1 en el caso de las mujeres y 0 en el de los hombres (es necesario hacer esta transformación para que los campos que usaremos en sklearn sean numéricos).

In [9]:
# ==== Solución

#### Ejercicio 8

Vamos a continuación a aprender un modelo de predicción, usando las características relativas a la clase del barco en la que se viajaba, la edad y el sexo. Se pide extraer del *DataFrame*  los correspondientes arrays de numpy con los datos (de train y test) y con  la clases esperadas (de train)

In [29]:
#### Solución:
# tomar un conj de entrenamiento de 3 caracteristicas (la bodega ja) e sexo y la edad y con las tres caracteristicas traint y test luego aprender un arbol de desicion
# block_tree los vectores corresponmdiente y añadir a test

In [11]:
X_train.shape

NameError: name 'X_train' is not defined

#### Ejercicio 9
Usando scikit_learn, aprender un árbol de decisión para predecir, en función de las tres características anteriores, si un pasjero sobrevive o no. Tomar

In [ ]:
# === Solución:

#### Ejercicio 10

In [ ]:
# === Solución:

#### Ejercicio 11

Incluir una columna `"Survived (pred.)"` en el *DataFrame* de test con el valor de predicción que realiza el modelo aprendido sobre los ejemplos de test.

In [ ]:
# === Solución: